# Sistema operacional
.DS_Store
Thumbs.db

# Editor / IDE
.vscode/
.idea/

# Logs
*.log

# Arquivos temporários
*.tmp
*.temp

# Node (caso use no futuro)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build (caso gere no futuro)
dist/
build/
