@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Croissant+One&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --cor1: #5162a4;
    --cor2: #3d5393;
    --cor3: #294481;
    --cor4: #143470;
    --cor5: #00255e;
    --font1: "Croissant One", serif;
}

body {
    height: 99.8vh;
    background-repeat: no-repeat;
}

header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin-top: 2px;
}

header > p {
    font-family: var(--font1);
    font-size: 1.7em;
    color: white;
    border: 1px solid black;
    padding: 10px;
    background-image: linear-gradient(to bottom, var(--cor5), var(--cor3));
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.616);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.678);
}