@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Croissant+One&family=Imperial+Script&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --cor1: #EFF6FF; /*FUNDO*/
    --cor2: #1E3A8A; /*DISPLAY*/
    --cor3: #DBEAFE; /*TEXTO DISPLAY*/
    --cor4: #BFDBFE; /*BOTOES NUMEROS*/
    --cor5: #3B82F6; /*BOTOES OPERADORES*/
    --cor6: #1D4ED8; /*BOTAO IGUAL*/
    --cor7: #0F172A; /*TEXTO BOTAO*/
    --font1: 'Orbitron', sans-serif;; /*HEADER*/
    --font2: "Imperial Script", 'cursive';/*FOOTER*/
}

header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

header > p {
    font-family: var(--font1);
    font-size: 2.2em;
    color: white;
    padding: 10px;
    background-image: linear-gradient(to bottom, var(--cor2), var(--cor7));
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.616);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.678);
    width: 100%;
    text-align: center;
}

main {
    background-color: var(--cor1);
    min-height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main > section#container {
    display: grid;
    grid-template-columns: repeat(3, 95px) ;
    grid-template-rows: repeat(7, auto);
    gap: 10px;
    justify-content: center;
}

.display {
    margin-top: 10px;
    grid-column-start: 1;
    grid-column-end: 4;
    height: 70px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    text-align: right;
    font-size: 2.5em;
    background-color: var(--cor2);
    color: var(--cor3);
}

.num, .operation{
    height: 95px;
    border-radius: 50%;
    font-size: 2em;
    border: 3px solid black;
}

.num {
    background-color: var(--cor4);
}

.operation {
    background-color: var(--cor5);
    font-weight: bolder;
}

#igual {
    background-color: var(--cor6);
    color: white;
}

footer {
    display: flex;
    justify-content: center;
    text-align: center;
    background-image: linear-gradient(to top, var(--cor2), var(--cor7));
}

footer > p {
    font-size: 1.8em;
    margin-top: 10px;
    font-family: var(--font2);
    font-weight: bolder;
    color: white;
}

footer > p > strong > a {
    text-decoration: none;
    color: var(--cor5);
    background-color: var(--cor1);
    border-radius: 10px;
    border: 2px solid var(--cor5);
}

footer > p > strong {
    font-family: var(--font1);
}